<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,111}</string>
                <key>spriteSourceSize</key>
                <string>{61,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emeny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,438}</string>
                <key>spriteSourceSize</key>
                <string>{438,438}</string>
                <key>textureRect</key>
                <string>{{0,499},{438,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emney_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,380}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{0,119},{380,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over.svg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,68}</string>
                <key>spriteSourceSize</key>
                <string>{282,68}</string>
                <key>textureRect</key>
                <string>{{180,0},{282,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,439}</string>
                <key>spriteSourceSize</key>
                <string>{438,439}</string>
                <key>textureRect</key>
                <string>{{0,937},{438,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{61,0},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>all.png</string>
            <key>size</key>
            <string>{462,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ee407113742ac14321decd789c2951:9f5f280ccc82f3691dea7ef6c97c99d2:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.png</string>
        </dict>
    </dict>
</plist>
